// ベースカラー 広い面積に利用
$light-blue: rgb(191, 228, 255);  // 水色(空色)
$light-green: rgb(119, 217, 168); // 明るい緑

// アクセントカラー 小面積に利用
$brown: rgb(128, 64, 0);   // 茶色
$blue: rgb(0, 90, 255);    // 青色
$yellow: rgb(255, 241, 0); // 黄色
$orange: rgb(246, 170, 0); // オレンジ色

$header: $light-blue; // ヘッダーメインカラー