// aタグやlink_toのリンクタグのスタイルを指定(クリック済でも色を紫にしない)
@mixin linkStyle($color: black) {
    color:$color;
    text-decoration:none;
}

table {
    margin-top: 10px;
    th {
        padding : 5px 5px;
        border:solid 1px #aaaaaa;
    }
    td {
        padding : 5px 5px;
        border:solid 1px #aaaaaa;
    }
}
  